table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
    background: linear-gradient(45deg, #4facfe, #00f2fe);
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px 10px;
}
.nav-links {
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 600px) {
  table,
  th,
  td {
    width: 300;
  }
}

/* Optional: add custom styles for better appearance */
h2 {
  font-weight: bold;
}
